@include keyframes(fadeIn) {
  0% {
    opacity: .25;
  }
  
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

@include keyframes(slideIn) {
  0% {
    transform: translateX(100vw);
  }
  
  100% {
    transform: translateX(0);
  }
}

@include keyframes(slideOut) {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(100vw);
  }
}
