*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'PT Serif', serif;
  background-color: #000000;
  color: #ffffff;
  font-size: 2rem;
  line-height: 3.5rem;
  transition: $transition;
  
  @include bp(l){
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

main{
  text-align: center;
  margin-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  
  @include bp(m){
    padding: 5%;
  }
}

h1{
  margin: 2rem 0;
  font-size: 4rem;
}

h2{
  margin: 2rem 0;
}

.button{
  border: 0.1rem solid #ffffff;
  padding: 0.5rem 2.5rem 0.3rem;
  display: inline-block;
  margin: 2rem;
  transition: $transition;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.07em;
  
  &:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }
}

label{
  margin: 1rem 0;
}

input[type='text'], input[type='email']{
  background-color: #000000;
  font-size: 2rem;
  color: #ffffff;
  border-width: 0 0 0.1rem 0;
  text-align: center;  
  margin-bottom: 5rem;
}

#directionOptions{
  margin: 5rem 0 0 0;
  list-style: none;
  border-top: 0.2rem solid #ffffff;
  padding-top: 2rem;
  li{ 
    font-size: 2rem;
    cursor: pointer;
    transition: $transition;
    height: 6rem;
    min-width: 12rem;
    margin: 1rem auto;
    border: 0.2rem solid #000000;
    padding: 1rem;
    
    &:hover{
      border-color: #ffffff;
    }
  }
  
  .East, .West{
    display: inline-block;
  }
}