@include keyframes(roll-credits) {
  0% { 
    transform: translate3d(0, 60vh, 0); 
  }
  
  100% { 
    transform: translate3d(0, -100vh, 0); }
}

.credits-container {
  height: 80vh;
  overflow: hidden;
  padding: 5vw;

  .credits {
    @include animation(roll-credits 20s linear);
    margin: auto;
    text-align: center;
    transform: translate3d(0, -10000000rem, 0);

    li {
      list-style: none;
      margin-bottom: 4rem;
    }
  }
}
