.inventoryIcon{
  @extend %icons;
  right: 1rem;
  
  @include bp(m){
    right: 0.5rem;
  }
  
  @include bp(l){
    margin-right: 1rem;
  }
}
.inventoryCount{
  font-size: 1.6rem;
  border-radius: 0.5rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.2rem 0.8rem 0rem 0.8rem;
  position: fixed;
  top: 2.8rem;
  right: 2.1rem;
  color: #000000;
  cursor: pointer;
  
  @include bp(m){
    top: 3.3rem;
    right: 2.1rem;
    font-size: 1.8rem;
  }
  
  @include bp(l){
    top: 5.3rem;
    right: 3.7rem;
    font-size: 2.5rem;
  }
}

#inventory{
  @extend %menus;
  border-left: 0.1rem solid #ffffff;
  right: 0;
  width: 90%;
  
  .inventoryContents{
      padding: 2rem 2rem 0 2rem;
  }
  
  .itemOptions{
    border-bottom: none;
  }
  
  .inventoryToggle{
    font-size: 2.2rem;
    display: block;
    margin: 0;
    color: #ffffff;
    cursor: pointer;
    transition: $transition;
  }
  li{
    &.button{
      &.inv{
        border: none;
      }
    }
    .item{
      width: 7rem;
      height: 7rem;
      transition: $transition;
      
      p{
        &:hover{
          color: #ffffff;
        }
      }
      
      @include bp(m){
        width: 10rem;
        height: 10rem;
      } 
        p{
          color: #ffffff;
        }
      }
    
      &:hover{
        .item{
          border-radius: 50rem;
          background-color: rgba(50,50,50,1); 
        }
        p{
          color: rgba(50,50,50,1); 
        }
    }
  }
  @include bp(m){
    width: 45%;
  }
}