#inventory{
  text-align: center;
  position: fixed;
  top: 0;
  border-top: 0.1rem solid #ffffff;
  border-bottom: 0.1rem solid #ffffff;
  width: 100%;
  background-color: rgba(50,50,50,1);
  
  .inventoryContents{
      padding: 0 2rem 0 2rem;
  }
  
  .itemOptions{
    border-bottom: none;
  }
  
  h2{
    font-size: 2.2rem;
    display: block;
    margin: 0;
    padding: 1rem;
    min-height: 3rem;
    background-color: rgba(50,50,50,1);
    color: #ffffff;
    cursor: pointer;
    transition: $transition;
    &:hover, &.open{
      background-color: #ffffff;
      color: #000000;
    }
  }
  li{
    &.button{
      &.inv{
        border: none;
        border-radius: 10rem 10rem 0 0;
      }
    }
    .item{
      width: 5rem;
      height: 5rem;
      transition: $transition;
      
      p{
        &:hover{
          color: #ffffff;
        }
      }
      
      @include bp(m){
        width: 10rem;
        height: 10rem;
      } 
        p{
          color: #ffffff;
        }
      }
    
      &:hover{
        .item{
          border-radius: 50rem;
          background-color: rgba(50,50,50,1); 
        }
        p{
          color: rgba(50,50,50,1); 
        }
    }
  }
}