.settings-icon {
  @extend %icons;
  left: .5rem;
}

.settings {
  @extend %menus;
  border-right: .2rem solid $colour-palette-2;
  left: 0;
  padding: 1rem;
  width: 90%;
  z-index: 80000;
  
  @include bp(m) {
    width: 30%;
  }
  
  .button {
    min-width: 80%;
    
    @include bp(m) {
      float: left;
      margin-left: 5%;
      min-width: 90%;
    }
  }
  
  .individual-setting {
    
    h3 {
      margin-top: .5rem;
    }
    
    .button {
      float: left;
      margin-top: 0;
      min-width: 35%;
      
      @include bp(m) {
        min-width: 33%;
      }
    }
    
    input {
      margin-bottom: 3rem;
      margin-top: 2rem;
      
      @include bp(m) {
        width: 90%;
      }
    }
  }
  
  label {
    float: left;
    width: 45%;
  }
  
  input {
    background-color: $colour-palette-3;
  }
  
  .close {
    clear: both;
    display: block;
  }
}
