// Usage: @include bp(m/l)
@mixin bp($point) {
  @if $point == m {
    @media (min-width: 700px) { @content; }
  } @else if $point == l {
    @media (min-width: 1000px)  { @content; }
  }
}

// Usage: @include keyframes(animationName){
//   0% { /*Rules*/ }
//   100% { /*Rules*/ }
// }
// 
// .object-to-animate {
//   @include animation('animationName animationOptions')
// }

// scss-lint:disable VendorPrefix
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
