%icons {
  background-color: $colour-palette-1;
  border-radius: 5rem;
  cursor: pointer;
  height: 7rem;
  position: fixed;
  top: 0;
  width: 5rem;
  
  @include bp(m) {
    height: 8rem;
    position: fixed;
    top: 0;
    width: 6rem;
  }
  
  @include bp(l) {
    height: 10rem;
    margin-top: 1rem;
    width: 8rem;
  }
}

%menus {
  @include animation(slideIn .2s);
  background-color: $colour-palette-3;
  min-height: 100vh;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1340;
}
