<!-- Make into a directive -->

<p data-ng-if='!current.showReturnedMessage'>{{current.description}}</p>
<p data-ng-if='current.showReturnedMessage'>{{current.returnedMessage}}</p>
<p>{{current.surroundings}}</p>

<ul id="directionOptions">
  <li data-ng-repeat='direction in current.directions' class='{{direction.rel}}' data-ng-if='!direction.blocked && direction.rel != "Roll credits" ' data-ng-click='move(direction.link)'>
    {{direction.rel}}
  </li>
</ul>

<p class='button' data-ng-if='current.directions[0].rel=="Roll credits"' data-ui-sref='credits'>Roll Credits!</p>

<!-- <p data-ng-if='!current.gameOver || !current.directions[0].rel=="Roll credits"'>Current location: {{current.name}}</p> -->
<br />
<p>{{additionalMessage}}</p>