<!-- Make into a directive -->
<p data-ng-if='!current.data.showReturnedMessage'>{{current.data.description}}</p>
<p data-ng-if='current.data.showReturnedMessage'>{{current.data.returnedMessage}}</p>
<p>{{current.data.surroundings}}</p>

<ul class="direction-options" style='border-color: {{settings.textColour}}'>
  <li data-ng-repeat='direction in current.data.directions' class='{{direction.rel}}' data-ng-if='!direction.blocked && direction.rel != "Roll credits" ' data-ng-click='map.getNewRoom(direction.link)'>
    {{direction.rel}}
  </li>
</ul>

<p class='button' data-ng-if='current.data.directions[0].rel=="Roll credits"' data-ui-sref='credits' data-ng-click='playCreditsSound()'>Roll Credits!</p>

<br />
<p>{{current.data.message}}</p>
