
<p data-ng-show='localStorageEnabled'>This game auto-saves on whatever you're playing on. If you want to stop playing, feel free; your progress will be saved for when you return.</p>

<p data-ng-hide='localStorageEnabled'>Unfortunately your browser does not support save data, so you will be unable to save your progress.</p>

<a data-ng-show='saveData' data-ng-click='loadGame()' class='button' data-ui-sref='game' data-ng-click=handleBackgroundMusic(false)>Load game</a>
<br />
<a class='button' data-ng-click='newGame()' data-ui-sref='game' data-ng-click=handleBackgroundMusic(false)>New game</a>
