<!DOCTYPE html>
<html data-ng-app='projectArklay' data-ng-cloak>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta name='description' content='An old-school text adventure game that you can play in your browser'>
    <link rel='author' href='https://plus.google.com/+DavidNimmo/posts'/>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='assets/style/main.css'/>
  </head>
  <body data-ng-controller='MainCtrl'>
        
    <main data-ui-view>
    </main>
    <section id='inventory'>
    <!--<section id='inventory' data-ng-if='inventory.length > 0'>-->
      <!--Put into separate partial-->
      <h2 data-ng-click='toggleInventory()'>Inventory {{'('+inventory.length+')'}} </h2>
      <div class="inventoryContents" data-ng-if='inventoryOpen'>
        <ul data-ng-if='!itemOptionsOpen'>
          <li class='button' data-ng-repeat='item in inventory' data-ng-click='showOptions(item)'>{{item.name}}</li>
        </ul>
        <br />
        <p class="button" data-ng-if='!itemOptionsOpen' data-ng-click='toggleInventory()'>Close Inventory</p>
        <p>{{selectedItem.description}}</p>
        <ul class='itemOptions' data-ng-if='itemOptionsOpen'>
          <li class='button' data-ng-click='use("{{selectedItem}}")'>Use</li>
          <li class='button' data-ng-click='clearSelectedItem()'>Cancel</li>
        </ul>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/scripts/app.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
	  <script>var socket=io();</script>
  </body>
</html>