<!DOCTYPE html>
<html data-ng-app='projectArklay' data-ng-cloak>
  <head>
    <title>Project Arklay</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta name='description' content='An old-school text adventure game that you can play in your browser'>
    <link rel='author' href='https://plus.google.com/+DavidNimmo/posts'/>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='assets/style/main.css'/>    
  </head>
  <body data-ng-controller='MainCtrl' style='background-color: {{settings.backgroundColour}}; color: {{settings.textColour}}'>
        
    <main data-ui-view>
    </main>
    <div class='settingsToggle' data-ng-click='toggleSettings()'>
      <svg class='settingsIcon' style='background-color: {{settings.backgroundColour}}'>
            <use xlink:href='/assets/images/defs.svg#settings'></use>
        </svg> 
    </div>
    <section id="settings" data-ng-show='settings.open' style='background-color: {{settings.menuColour}}; color: {{settings.menuTextColour}}'>
      <div data-ng-show='!settings.optionsOpen'>
        <p class='button' data-ng-click='settings.individual("backgroundColour")' data-ng-hide='settings.backgroundColourOpen' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Background Colour</p>
        <p class='button' data-ng-click='settings.individual("textColour")' data-ng-hide='settings.textColourOpen' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Text Colour</p>
        <p class='button' data-ng-click='settings.individual("menuColour")' data-ng-hide='settings.menuColourOpen' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Menu Colour</p>
        <p class='button' data-ng-click='settings.individual("menuTextColour")' data-ng-hide='settings.menuTextColourOpen' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Menu Text Colour</p>
        <p class='button' data-ng-click='settings.individual("default")' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Reset To Defaults</p>
        <p class="button close" data-ng-if='!itemOptionsOpen' data-ng-click='toggleSettings()' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Close Settings</p>
      </div>
      
      <div data-ng-show='settings.backgroundColourOpen' class='individualSetting'>
        <h3>Background Colour</h3>
        <input type="text" id="backgroundColour" data-ng-model='settings.backgroundColour' style='color: {{settings.menuTextColour}}; background-color: {{settings.menuColour}}; border-color: {{settings.menuTextColour}}' placeholder="Enter a colour"/>
        <p class='button' data-ng-click='settings.close("backgroundColour", true)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Set</p>
        <p class='button' data-ng-click='settings.close("backgroundColour", false)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Cancel</p>
      </div>
      <div data-ng-show='settings.textColourOpen' class='individualSetting'>
        <h3>Text Colour</h3>
        <input type="text" id="textColour" data-ng-model='settings.textColour' style='color: {{settings.menuTextColour}}; background-color: {{settings.menuColour}}; border-color: {{settings.menuTextColour}}' placeholder="Enter a colour"/>
        <p class='button' data-ng-click='settings.close("textColour", true)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Set</p>
        <p class='button' data-ng-click='settings.close("textColour", false)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Cancel</p>
      </div>
      <div data-ng-show='settings.menuTextColourOpen' class='individualSetting'>
        <h3>Menu Text Colour</h3>
        <input type="text" id="menuTextColour" data-ng-model='settings.menuTextColour' style='color: {{settings.menuTextColour}}; background-color: {{settings.menuColour}}; border-color: {{settings.menuTextColour}}' placeholder="Enter a colour"/>
        <p class='button' data-ng-click='settings.close("menuTextColour", true)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Set</p>
        <p class='button' data-ng-click='settings.close("menuTextColour", false)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Cancel</p>
      </div>
      <div data-ng-show='settings.menuColourOpen' class='individualSetting'>
        <h3>Menu Colour</h3>
        <input type="text" id="menuColour" data-ng-model='settings.menuColour' style='color: {{settings.menuTextColour}}; background-color: {{settings.menuColour}}; border-color: {{settings.menuTextColour}}' placeholder="Enter a colour"/>
        <p class='button' data-ng-click='settings.close("menuColour", true)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Set</p>
        <p class='button' data-ng-click='settings.close("menuColour", false)' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Cancel</p>
      </div>   
    </section>
    <div class='inventoryToggle' data-ng-click='toggleInventory()'  data-ng-show='inventory.length != 0' >
        <svg class='inventoryIcon' style='background-color: {{settings.backgroundColour}}'>
            <use xlink:href='/assets/images/defs.svg#inventory'></use>
        </svg>
      <span class='inventoryCount' data-ng-show="!inventoryOpen" style='color: {{settings.backgroundColour}}'>
        {{inventory.length}}
      </span>
    </div>
    <section id='inventory' data-ng-show='inventoryOpen' style='background-color: {{settings.menuColour}}; color: {{settings.menuTextColour}}'>
      <!--Put into separate partial-->
      <div class="inventoryContents">
        <ul data-ng-if='!itemOptionsOpen'>
          <li class="button inv" data-ng-repeat='item in inventory' data-ng-click='showOptions(item)'>
            <svg class='item'>
              <use xlink:href='{{item.image}}'></use>
            </svg>
            <p style='color: {{settings.menuTextColour}}'>{{item.name}}</p>
          </li>
        </ul>
        <p class="button" data-ng-if='!itemOptionsOpen' data-ng-click='toggleInventory()' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Close Inventory</p>
        <p style='color: {{settings.menuTextColour}}'>{{selectedItem.description}}</p>
        <ul class='itemOptions' data-ng-if='itemOptionsOpen'>
          <li class='button' data-ng-click='use("{{selectedItem}}")' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Use</li>
          <li class='button' data-ng-click='clearSelectedItem()' style='color: {{settings.menuTextColour}}; border-color: {{settings.menuTextColour}}'>Cancel</li>
        </ul>
        <p class="additionalInfo" style='color: {{settings.menuTextColour}}'>{{additionalMessage}}</p>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/scripts/app.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
	  <script>var socket=io();</script>
  </body>
</html>