<!DOCTYPE html>
<html data-ng-app='projectMud'>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='assets/style/main.css'/>
  </head>
  <body data-ng-controller='MainCtrl'>
        
    <main data-ui-view>
    </main>
    <section id='inventory' data-ng-if='inventory.length > 0'>
      <!--Put into separate partial-->
      <h2 data-ng-click='inventoryOpen = !inventoryOpen'>Inventory</h2>
      <div class="inventoryContents" data-ng-if='inventoryOpen'>
        <ul data-ng-if='!itemOptionsOpen'>
          <li data-ng-repeat='item in inventory' data-ng-click='showOptions(item)'>{{item.name}}</li>
        </ul>
        <p>{{selectedItem.description}}</p>
        <p data-ng-if=(additionalMessage)> <i>This item can not be used here.</i></p>
        <ul data-ng-if='itemOptionsOpen'>
          <li data-ng-click='use("{{selectedItem}}")'>Use</li>
          <li data-ng-click='clearSelectedItem()'>Cancel</li>
        </ul>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/scripts/app.min.js"></script>
  </body>
</html>